#main-footer {
  background: #343a40;
  color: #fff;
}

#page-header {
  height: 100px;
  background: black;
  background-position: 54% 95%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 60px;
}
